{
	"presets": [
		[
			"@babel/preset-env",
			{
				"targets": {
					"node": true
				}
			}
		]
	],
	"plugins": [
		"@babel/proposal-nullish-coalescing-operator",
		"@babel/proposal-optional-chaining"
	]
}
